aside {
    color: transparent;
    box-shadow: inset 0 0 5px #999;
    border: 1px solid #c4bf97;
    position: absolute;
    left: 0;
    z-index: 3000;
    height: 50px;
    padding: 10px;
    padding-left: 0px;
    visibility: hidden;
    color: black;
    background: white;
    overflow:hidden;
    border-radius: 0 5px 5px 0;
}

aside.show {
    visibility: visible;
    color: transparent;
    -webkit-animation: slide 0.75s forwards;
    -webkit-animation-delay: 0;
    animation: slide 0.75s forwards;
    animation-delay: 0;
    overflow: auto;
}

@-webkit-keyframes slide {
    0% {
        color:#ccc;
        width: 250px;
    }
    100% {
        color:#000;
        width: 350px;
        padding-left: 10px;
    }
}

@keyframes slide {
    0% {
        color: #ccc;
        width: 250px;
    }
    100% {
        color: #000;
        width: 350px;
        padding-left: 10px;
        
    }
}
